.app-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 2px rgba(55, 63, 88, 0.317);
}

.app-header__menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .app-header__menu {
    width: 50px;
    justify-content: flex-end;
  }
}
